<HTML>

<head>
    <title>{{category}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/ico.png') }}" type="image/png">
</head>

<body onload="loadSlide()">
    <div class="container" id="header">
        <div class="menu_item">
            <a href="{{ url_for('home') }}">Главная</a>
        </div>
        <div class="menu_item">
            <a href="{{ url_for('category', category_name='Музеи') }}">Музеи</a>
            <ul class="submenu">
                {% for museum in museums %}
                <li><a href="{{ url_for('sight', id=museum['id']) }}">{{ museum['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu_item">
            <a href="{{ url_for('category', category_name='Храмы') }}">Соборы</a>
            <ul class="submenu">
                {% for cathedral in cathedrals %}
                <li><a href="{{ url_for('sight', id=cathedral['id']) }}">{{ cathedral['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu_item">
            <a href="{{ url_for('category', category_name='Театры') }}">Театры</a>
            <ul class="submenu">
                {% for theatre in theatres %}
                <li><a href="{{ url_for('sight', id=theatre['id']) }}">{{ theatre['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu_item_right">
            <a>Медиа</a>
            <ul class="submenu">
                <li><a href="{{ url_for('photos')}}">Фото</a></li>
                <li><a href="{{ url_for('videos')}}">Видео</a></li>
            </ul>
        </div>
    </div>

    <div class="container" id="content">
        <div class="wrapper">
            <div class="logo">
                <h1>{{category}}</h1>
            </div>
            <div class="mainblock">
                {% for row in target_list %}
                <div class="blocks1">
                    {% for column in row %}
                    <div class="block1">
                        <img src="{{column['mainImageURI']}}">
                        <br>
                        {{column['name']}}<br>
                        {{column['address']}}
                        <div class="button">
                            <a class="musa" href="{{ url_for('sight', id=column['id']) }}" )>Подробнее</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container" id="footer">
        </div>
</body>

</HTML>